@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@400;500&family=Manrope:wght@400;700;800&display=swap');

:root {

  --color-border: #C3D3E2;
  
  --color-af-primary: #070248;
  --color-af-pastel: #CECDFF;
  
  --color-co-primary: #36A08E;
  --color-co-pastel: #D5FFF9;
  
  --color-fm-primary: #4DAA00;
  --color-fm-pastel: #E1FCCF;

  --color-na-primary: #D57C19;
  --color-na-pastel: #FFE6C5;
  
  --color-pu-primary: #C61819;
  --color-pu-pastel: #FFD4D4;
  
  --color-pd-primary: #782A53;
  --color-pd-pastel: #FBDAEC;
  
  --color-ac-primary: #4C85C7;
  --color-ac-pastel: #C7E2FF;

  --color-lgpd-primary: #9C1DFF;
  --color-lgpd-pastel: #D9D2E9;
  
  --color-white: #ffffff;
  --color-gray-100: #f9fafb;
  --color-gray-200: #eef2f7;
  --color-gray-500: #6b7280;
  --color-gray-900: #111827;
  --color-success: #067647;
  --color-error: #d93025;
  --color-card-muted-bg: #e7e9f4;

  --color-neutral-primary: #1e293b;
  --color-neutral-pastel: #f1f5f9;
  
  --brand-primary: var(--color-neutral-primary);
  --brand-pastel: var(--color-neutral-pastel);
  
  --font-heading: 'Manrope', sans-serif;
  --font-body: 'DM Mono', monospace;
}

body {
  margin: 0;
  font-family: var(--font-body);
  background-color: #E4E4E4;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}