.project-detail-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.project-details-wrapper {
  flex-grow: 1;
}

.project-detail-header-container .btn-secondary {
  width: auto;
  flex-shrink: 0;
}

.project-detail-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media(min-width: 1024px) {
  .project-detail-grid {
    grid-template-columns: 2fr 1fr;
  }
}

.project-detail-main {
  display: flex;
  flex-direction: column;
}

.project-detail-sidebar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}